html {
    height: 100%;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.note-flipper-container {
    display: flex;
    align-items: center;
    height: 5vh;

}

.a4 {
    position: absolute;
    left: 30px;
}
  
.a4 span {
    color: #cB6843;
}
  
.auto {
    position: absolute;
    right: 30px;
    accent-color: #203354;
}

body {
    background-color: #eedbbb;
    position: fixed;
    font-family: sans-serif;
    color: #2c3e50;
    margin: 0;
    width: 100%;
    height: 100%;
    cursor: default;
    user-select: none;
}
  
.notes {
    margin: auto;
    width: 400px;
    position: fixed;
    top: 68%;
    left: 0;
    right: 0;
    text-align: center;
}
  
.note {
    font-size: 90px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding-right: 30px;
    padding-left: 10px;
}
  
.note.active {
    background: linear-gradient(to right, #cB6843, #CB6840);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
.notes-list {
    overflow: auto;
    overflow: -moz-scrollbars-none;
    white-space: nowrap;
    -ms-overflow-style: none;
    -webkit-mask-image: -webkit-linear-gradient(
      left,
      rgba(255, 255, 255, 0),
      #fff,
      rgba(255, 255, 255, 0)
    );
}
  
.notes-list::-webkit-scrollbar {
    display: none;
}
  
.note {
    -webkit-tap-highlight-color: transparent;
}
  
.note span {
    position: absolute;
    right: 0.25em;
    font-size: 40%;
    font-weight: normal;
}
  
.note-sharp {
    top: 0.3em;
}
  
.note-octave {
    bottom: 0.3em;
}
  
.frequency {
    font-size: 32px;
}
  
.frequency span {
    font-size: 50%;
    margin-left: 0.25em;
}
  
.meter {
    color: #cB6843;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 40%;
    width: 400px;
    height: 33%;
    margin: 0 auto 5vh auto;
}
  
.meter-pointer {
    width: 2px;
    height: 100%;
    background: #2c3e50;
    transform: rotate(45deg);
    transform-origin: bottom;
    transition: transform 0.3s;
    position: absolute;
    right: 50%;
}
  
.meter-dot {
    width: 10px;
    height: 10px;
    background: #2c3e50;
    border-radius: 50%;
    position: absolute;
    bottom: -5px;
    right: 50%;
    margin-right: -4px;
}
  
.meter-scale {
    width: 1px;
    height: 100%;
    transform-origin: bottom;
    transition: transform 0.2s;
    box-sizing: border-box;
    border-top: 10px solid;
    position: absolute;
    right: 50%;
}
  
.meter-scale-strong {
    width: 2px;
    border-top-width: 20px;
}

.frequency, .frequency span {
    color: #cB6843;
}

.tab-container {
    position: relative;
    width: 200px;
    height: 40px;
    background-color: #3498db;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
  }
  
  /* Define the tab content style */
  .tab-content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #2980b9;
    color: #fff;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    visibility: hidden;
  }
  
  /* Show the tab content on hover */
  .tab-container:hover .tab-content {
    transform: scaleY(1);
    visibility: visible;
  }
  
@media (max-width: 768px) {
    .meter {
      width: 100%;
    }
  
    .notes {
      width: 100%;
    }
}
  
.swal-button {
    background: red;
}
  
